body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .runway {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
  }
  
  .lamp, .lamp-status {
    position: relative;
    text-align: center;
  }
  
  .lamp-light {
    width: 60px; /* Augmenté la taille du cercle */
    height: 60px;
    border-radius: 50%;
    background-color: grey;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; /* Pour des transitions douces */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ajout d'ombre pour effet 3D */
  }
  
  .lamp.on .lamp-light, .lamp-status.on .lamp-light {
    background-color: #00ff00; 
  }
  
  .lamp-status.off .lamp-light {
    background-color: grey;
  }
  
  .toggle-btn {
    padding: 10px 20px; 
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .toggle-btn:hover {
    background-color: #45a049; 
  }
  
  .toggle-btn:active {
    background-color: #3e8e41; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
  }
  
  h2 {
    text-align: center;
  }
  
  .lamp-status {
    padding: 10px;
    width: 100px;
  }
  
  .lamp-status.on {
    color: green;
  }
  
  .lamp-status.off {
    color: red;
  }
  